<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>

<body>
 <div class="login">
    <h1>Predict Salary Analysis</h1>

    <form action="/predict" method="post">
        <input type="text" name="cylinders" placeholder="Cylinders" required="required" />
        <input type="text" name="displacement" placeholder="Displacement" required="required" />
        <input type="text" name="horsepower" placeholder="Horsepower" required="required" />
        <input type="text" name="weight" placeholder="Weight" required="required" />
        <input type="text" name="acceleration" placeholder="Acceleration" required="required" />
        <input type="text" name="model year" placeholder="Model Year" required="required" />
        
        <!-- Cases à cocher pour les origines -->
        <label><input type="checkbox" name="origin_Asia" value="1"> Origin Asia</label><br>
        <label><input type="checkbox" name="origin_Europe" value="1"> Origin Europe</label><br>
        <label><input type="checkbox" name="origin_USA" value="1"> Origin USA</label><br>

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

    <br><br>
    <p>{{ prediction_text }}</p>

 </div>
</body>
</html>
